{% extends 'base.html.twig' %}


    {% block body %}
        <div class="container">

            {% dump(last_username) %}

            <h1 class="text-center">Connexion</h1>
            <p class="text-center">Saisissez vos informations</p>
            <hr>

            <div class="row">
                <div class="col-6 mx-auto">
                    <form method="post">
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="_username" class="form-control"
                                   value="{{ last_username }}">
                        </div>
                        <div class="form-group">
                            <label>Mot de passe</label>
                            <input type="password" name="_password" class="form-control">
                        </div>
                        {# $_SERVER['HTTP_REFERER'] #}
                        <input type="hidden" name="_target_path" value="{{ path('app_user_index') }}">
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary w-100">
                                Se connecter
                            </button>
                        </div>
                        <div class="text-center">
                            <a href="{{ path('app_forgotten_password') }}">Mot de passe oublié ?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}

