{% extends 'base.html.twig' %}

{% block body %}

    <h1>Inscription</h1>

    {{ form_start(registrationLogForm) }}
        {{ form_row(registrationLogForm.lastname) }}


    {{ form_end(registrationLogForm) }}



{% endblock %}
