{% extends 'base.html.twig' %}
{% block title %}Réinitialisation du mot de passe{% endblock %}
{% block body %}


    <div class="container">

        <div class="row">
            <div class="col-6 mx-auto">

                <h1 class="text-center">Réinitialisation du mot de passe</h1>
                <hr>


                {{ form_start(nouveauMdp) }}

                {{ form_row(nouveauMdp.password) }}

                <button type="submit" class="btn btn-primary w-100">Enregistrer</button>
                {{ form_end(nouveauMdp) }}

            </div>

        </div>

    </div>
{% endblock %}