{% extends 'base.html.twig' %}
{% block title %}Réinitialisation du mot de passe{% endblock %}
{% block body %}
    <div class="container bubble">
        {{ form_start(nouveauMdp) }}

        {{ form_row(nouveauMdp.password) }}

    <button type="submit">Enregistrer</button>
        {{ form_end(nouveauMdp) }}


    </div>
{% endblock %}