.jumbotron{
    background: url("../img/background-2462431_1920.jpg"), 50%;
    opacity: 0.75;
}

.jumbotron a{
    color: #151270;
}

.flex{
    display: flex !important;
}
.flex-end{
    justify-content: flex-end !important;
}