.jumbotron{
    background: url("../img/background-2462431_1920.jpg"), 50%;
    opacity: 0.75;
}

.jumbotron a{
    color: #151270;
}

.flex{
    display: flex !important;
}
.flex-end{
    justify-content: flex-end !important;
}

.titre-accueil{
    color: #00fbff;
}

.accroche-accueil{
    color: #dfdee0;
}

.accueil-diapo-label{
    background: rgba(0, 0, 0, 0.79);
}