{% extends "base.html.twig" %}

{% block body %}
    <h1>Ceci est la page accueil</h1>

    {#    {{ dump(medicaments) }}#}



{% endblock %}






{% block javascripts %}

    {{ parent() }}

    <script>

        $(document).ready(function () {

        })
        ;

    </script>



{% endblock %}