{% extends "base.html.twig" %}

{% block body %}
    <h1>Ceci est la page accueil</h1>

    <div class="container">

        <form action="">
            <input class="form-control" id="search-medoc" type="text" name="search-medoc" placeholder="Rechercher un médicament">

{#            <input type="submit">#}
        </form>

{#        {% for medicament in medicaments %}#}
{#            <div>{{ medicament.nom }}</div>#}
{#        {% endfor %}#}


    </div>


{% endblock %}




{% block javascripts %}

    {{ parent() }}

    <script>

        $(function () {

            $('#search-medoc').autocomplete({
                source : '/search-result'
            });

        });

    </script>



{% endblock %}