{% extends "base.html.twig" %}

{% block body %}
    <h1>Ceci est la page accueil</h1>

    <div class="container">

        <form action="">
            <input class="form-control" id="search-medoc" type="text" name="search-medoc" placeholder="Rechercher un médicament">

{#            <input type="submit">#}
        </form>

{#        {% for medicament in medicaments %}#}
{#            <div>{{ medicament.nom }}</div>#}
{#        {% endfor %}#}


    </div>


{% endblock %}




{% block javascripts %}

    {{ parent() }}

    <script>

        // $(document).ready(function () {
        //
        // })
        // ;

        $(function () {

            // $('#search-medoc').keyup(function (e) {
            //     e.preventDefault();
            //
            //      var medoc = $(this).val();
            //
            //     console.log(medoc);
            //
            //
            // })

            $('#search-medoc').autocomplete({
                source : '/search-result'
            });



            // $('#search-medoc').autocomplete({
            //     source : function(requete, reponse){
            //         $.ajax({
            //             url : '/search',
            //             dataType : 'json',
            //             data : {
            //                 name_startsWith : $('#search-medoc').val(),
            //                 maxRows : 15
            //             },

                        // success : function(donnee){
                        //     reponse($.map(donnee.geonames, function(objet){
                        //         return objet.name + ', ' + objet.countryName;
                        //     }));
                        // }
                    // });
            //     }
            // });

        });

    </script>



{% endblock %}