{% extends "base.html.twig" %}

{% block body %}

    <div class="container">
        <h1 class="text-center">Vos messages</h1>
        <hr>
        <h2 class="text-center">{{ medicament.nom }}</h2>
        <hr>

        <div class="row">
            <div class="col-6 mx-auto">
                {{ form_start(formDepotMessage) }}

                {{ form_row(formDepotMessage.content)}}


                <div class="col-6 mx-auto">
                    <button type="submit" class="btn btn-primary w-100">
                        Soumettre
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(formDepotMessage) }}

{% endblock %}