{% extends 'base.html.twig' %}

{% block body %}
    <div class="row mt-5 pt-4 ml-0 mr-0">

        <div class="col-md-2 col-sm-6 mt-5">
            <div class="card border-success mb-3">
                <div class="card-header bg-transparent border-success">Mes médicaments</div>
                <!-- Si vide, écrire : Vous n'avez actuellement aucun message à) afficher -->
                <div class="card-body text-success p-0">
                    <div class="card">
                        <div class="card-body">
                            DOLIPRANE
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            ADVIL
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            SMECTA
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-md-12 col-sm-6 mt-5">
                <div class="card mb-5 mt-0 infos-user-main bg-success user-card c1">
                    <i class="fas fa-user icard"></i>
                    <div class="card-body infos-user-main-body">
                        <a href="{{ path('app_user_profil') }}">
                        <h5 class="card-title">Mes informations</h5></a>
                    </div>
                </div>


                <div class="d-flex justify-content-between">
                    <div class="card card col-5 mb-5 mt-0 liste-medic-main bg-warning user-card c2">
                        <i class="fas fa-comment-dots icard"></i>
                        <div class="card-body">
                            <h5 class="card-title">Mes sujets de discussion</h5>
                        </div>
                    </div>
                    <div class="card card col-5 mb-5 mt-0 calendrier-main bg-danger user-card c3">
                        <i class="fas fa-calendar-alt icard"></i>
                        <div class="card-body">
                            <h5 class="card-title">Mon calendrier</h5>
                        </div>
                    </div>
                </div>


                <div class="card card mb-5 mt-0 ordonnance-main bg-primary user-card c4">
                    <i class="fas fa-file-medical icard"></i>
                    <div class="card-body">
                        <h5 class="card-title">Mes ordonnances</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2 col-sm-6 mt-5 ">
            <div class="card border-success mb-3">
                <div class="card-header  border-success text-center bg-dark text-light">Mes messages récents</div>
                <!-- Si vide, écrire : Vous n'avez actuellement aucun message à) afficher -->
                <div class="card-body text-success overflow-auto msg-recents">
                    <h5 class="card-title">Publié le 25/11/2019 : </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    <hr>
                    <h5 class="card-title">Publié le 25/11/2019 : </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    <hr>
                    <h5 class="card-title">Publié le 25/11/2019 : </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    <hr>
                    <h5 class="card-title">Publié le 25/11/2019 : </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    <hr>
                    <h5 class="card-title">Publié le 25/11/2019 : </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    <hr>
                    <h5 class="card-title">Publié le 25/11/2019 : </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    <hr>
                    <h5 class="card-title">Publié le 25/11/2019 : </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    <hr>
                    <h5 class="card-title">Publié le 25/11/2019 : </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
